.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
    background-color: #c2efd4; /* Fondo de pantalla */
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .formContainer {
    background-color: #FFEBAD; /* Color del componente del formulario */
    padding: 40px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra alrededor del formulario */
    text-align: center; /* Centrar el contenido del formulario */
    width: 350px; /* Ancho del formulario */
    position: relative; /* Relativo para el posicionamiento absoluto del botón */
  }
  
  .formGroup {
    margin-bottom: 20px; /* Espacio entre campos */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .loginButton {
    background-color: #224F34;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ocupar todo el ancho */
    margin-bottom: 15px; /* Espacio entre botones */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacio entre icono y texto */
  }

  .nuevoUsuarioButton {
    background-color: #224F34;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px;
  }
  
  .loginButton:hover {
    opacity: 0.9; /* Ligeramente más oscuro en hover */
  }

  .nuevoUsuarioButton {
    background-color: #224F34; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    bottom: 2%; 
  }
  .nuevoUsuarioButton:hover {
    opacity: 0.9; /* Ligeramente más oscuro en hover */
  }
